/* General Styles */
* {
  text-align: center;
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: 'Bubblegum Sans', cursive;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.9rem;
}
h3 {
  font-size: 2.4rem;
}

body, label {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
}

form, input, select {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
}

/* Specific Styles */
.App {
  margin: 1%;
}
.form {
  padding: 1%;
}
.member {
  padding: 1%;
}

.App h1 {
  text-shadow: 3px 3px 2px grey;
  padding: 1%;
}
.App h3 {
  padding: 0.5%;
}